<nav id="topnav" class="navbar navbar-fixed-top navbar-default" role="navigation">
<div class="container">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" ui-sref="home">BK Hydroponics</a>
	</div>
	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse navbar-ex1-collapse">
		<ul class="nav navbar-nav navbar-right">
			<li><a ui-sref="home">Home</a></li>
			<li><a ui-sref="system">Systems</a></li>
			<li><a ui-sref="article">Acticle</a></li>
			<li><a href="http://13.58.114.56:4567">Forum</a></li>
			<li><a ui-sref="about">About</a></li>
			<li class="active"><a href="">Sign In</a></li>
			<li><a ui-sref="register">Sign Up</a></li>
			<li><a ui-sref="search"><i class="fa fa-search"></i></a></li>
		</ul>
	</div>
	<!-- /.navbar-collapse -->
</div>
</nav>
<!-- HOMEPAGE -->


<!--  SECTION-1 -->
<section id="Section-4" class="fullbg">
<div class="section-divider">
</div>
  <div class="form-container form animated fadeInDown">
    <div id="login">
      <h1>Congratulations!</h1>
		</div>
		<div style="color:#fff; text-align:center;">
			<p>You have successfully singed up!</p>
			<p>An email has been sent from BK Hydroponic.</p>
			<br>
		</div>
	</div> <!-- /form -->
</section>
<script src='/js/libs/login-page.js'></script>
