.table-of-devices {
  margin: 0 auto;
  text-align: center;
}
.btn-customize {
  background-color: #956295;
  border-color: #956295;
}
.btn-customize:hover,
.btn-customize:active,
.btn-customize:focus,
.btn-customize:visited {
  background-color: #684468;
  border-color: #684468;
}
.table-customize,
.table-customize>thead>tr>th {
  text-align: center;
}
.modal-title {
  text-align: center;
}
.modal-header {
  background-color: #428bca;
  /*#956295;*/
  
  color: white;
}
/*.modal-header, h4, .close {
  background-color: #5cb85c;
  color:white !important;
  text-align: center;
  font-size: 30px;
}
.modal-footer {
  background-color: #f9f9f9;
}*/

.table-center {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}
.model-table-center {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.form-first-name,
.form-last-name {
  width: 46%;
}
.form-last-name {
  float: right;
}
.button-diary {
  background-color: #4CAF50;
  /* Green */
  
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 12px;
}
.button-blue-diary {
  background-color: white;
  color: black;
  border: 2px solid #008CBA;
}
.button-blue-diary:hover {
  background-color: #008CBA;
  color: white;
}
.right-button {
  float: right;
}
.tab-title {
  text-align: center;
  margin: 10px 10px;
}
.time-stamp {} .table-remove-bottom-margin {
  margin-bottom: 0px;
}
.time-stamp td,
.time-stamp th {
  text-align: center;
}
/*----------------------------Crop List Panel------------------------------*/

.panel-table .panel-body {
  padding: 0;
}
.panel-table .panel-body .table-bordered {
  border-style: none;
  margin: 0;
}
.panel-table .panel-body .table-bordered > thead > tr > th:first-of-type {
  text-align: center;
  width: 100px;
}
.panel-table .panel-body .table-bordered > thead > tr > th:last-of-type,
.panel-table .panel-body .table-bordered > tbody > tr > td:last-of-type {
  border-right: 0px;
}
.panel-table .panel-body .table-bordered > thead > tr > th:first-of-type,
.panel-table .panel-body .table-bordered > tbody > tr > td:first-of-type {
  border-left: 0px;
}
.panel-table .panel-body .table-bordered > tbody > tr:first-of-type > td {
  border-bottom: 0px;
}
.panel-table .panel-body .table-bordered > thead > tr:first-of-type > th {
  border-top: 0px;
}
.panel-table .panel-footer .pagination {
  margin: 0;
}
/*
used to vertically center elements, may need modification if you're not using default sizes.
*/

.panel-table .panel-footer .col {
  line-height: 34px;
  height: 34px;
}
.panel-table .panel-heading .col h3 {
  line-height: 30px;
  height: 30px;
}
.panel-table .panel-body .table-bordered > tbody > tr > td {
  line-height: 34px;
}
.crop-list-panel td,
.crop-list-panel th {
  text-align: center;
}
/*--------------------------------------------------------------------------*/

.margin-container {
  margin-top: 50px;
  margin-bottom: 50px;
}
.page-heading {
  margin-top: 30px;
  margin-bottom: 30px;
}
.tab-title {
  margin: 30px 30px;
}
.current-condition-table {
  margin-top: 20px;
}
.current-condition-table td,
.current-condition-table th {
  text-align: center;
  width: 25%;
}
.current-condition-status em,
.current-condition-status td {
  color: green;
}
.status-normal {
  background-color: #FFFFFF;
}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}
.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
}
.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
}
.system-overview-table tr {
  height: 60px;
}
.program-setting-table tr {
  text-align: center;
}
.select-actuator {
  width: 20%;
  text-align: center;
  margin: 20px auto;
}
.modal-table-center {
  width: 100%;
  margin: 0 auto;
}
/********** Register *************/

#registerContainer,
#loggedInContainer {
  position: relative;
}
#registerContainer a,
#loggedInContainer a {
  text-decoration: none;
}
#registerContainer a span,
#loggedInContainer a span {
  display: block;
  color: #fff;
  background: #f4d638;
  border-radius: 10px;
  -webkit-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  -moz-border-radius: 4px;
  padding: 5px 25px;
  font-size: 1.1em;
}
#registerContainer a span:hover,
#loggedInContainer a span:hover {
  background: #428bca;
  /*#956295;*/
  
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}
/* register Button */

#registerButton,
#loggedInButton,
.logged-in-btn {
  margin-right: 5px;
  display: inline-block;
  position: relative;
  z-index: 30;
  cursor: pointer;
}
.logged-in-btn {
  border-radius: 35px 5px 35px 5px;
}
/* register Box */

#registerBox,
#loggedInBox {
  position: absolute;
  top: 45px;
  right: 27px;
  display: none;
  z-index: 29;
}
#registerForm:after,
#loggedInForm:after {
  content: '';
  position: absolute;
  right: 25px;
  top: -10px;
  border-left: 10px solid rgba(0, 0, 0, 0);
  border-right: 10px solid rgba(0, 0, 0, 0);
  border-bottom: 10px solid #f0f0f0;
}
/* register Form */

#registerForm,
#loggedInForm {
  background: #fff;
  border: 2px solid #428bca;
  /*#956295;*/
  
  border-radius: 35px 5px 35px 5px;
}
#registerForm {
  width: 300px;
}
#loggedInForm {
  width: 100px;
}
#registerForm fieldset,
#loggedInForm fieldset {
  margin: 0 0 15px 0;
  display: block;
  border: 0;
  padding: 0;
}
fieldset#body {
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  padding: 15px 15px;
  margin: 0;
}
#body label {
  color: #000;
  margin: 10px 0 0 0;
  display: block;
  float: left;
  font-size: 0.8725em;
  font-weight: 400;
}
#body fieldset label {
  display: block;
  float: none;
  margin: 0 0 6px 0;
}
#body label i {
  color: #000;
  font-size: 1em;
  font-style: normal;
}
/* Default Input */

#registerForm input,
#loggedInForm input {
  width: 92%;
  border: 1px solid #DADADA;
  color: #222;
  background: #FFF;
  padding: 6px;
  font-size: 0.8125em;
  -webkit-apperance: none;
}
/* Sign In Button */

#registerForm #register,
#loggedInForm #logout {
  width: auto;
  float: left;
  background: #428bca;
  /*#351136;*/
  
  color: #fff;
  font-size: 0.8725em;
  padding: 8px 20px;
  border-radius: 4px;
  border: none;
  margin: 0 12px 0 0;
  cursor: pointer;
  transition: all .5s;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
}
#registerForm #register:hover,
#loggedInForm #logout:hover {
  background: #f4d638;
}
/* Forgot your password */

#registerForm span {
  display: block;
  padding: 0px 0px 15px 0px;
}
#registerForm span a {
  color: #000;
  font-size: 0.85em;
  font-weight: 400;
  background: none;
  border: none;
  box-shadow: none;
  padding: 0 16px;
}
#registerForm span a:hover {
  text-decoration: underline;
}
input:focus {
  outline: none;
}
.button {
  background-color: #4CAF50;
  /* Green */
  
  border: none;
  color: white;
  padding: 4px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 50%;
}
.add-item-button {
  background-color: white;
  color: black;
  border: 2px solid #008CBA;
}
.add-item-button:hover {
  background-color: #008CBA;
  color: white;
}
.alert-flash {
  position: fixed;
  z-index: 999999;
  right: 12px;
  bottom: 12px;
  display: block;
}
.alert-flash:hover {
  -moz-box-shadow: 0 0 12px #000;
  -webkit-box-shadow: 0 0 12px #000;
  box-shadow: 0 0 12px #000;
  opacity: 1;
  -ms-filter: alpha(opacity=100);
  filter: alpha(opacity=100);
  cursor: pointer;
}
.alert-flash {
  margin: 0 0 6px;
  padding: 15px 15px 15px 50px;
  width: 300px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  background-position: 15px center;
  background-repeat: no-repeat;
  -moz-box-shadow: 0 0 12px #999;
  -webkit-box-shadow: 0 0 12px #999;
  box-shadow: 0 0 12px #999;
  color: #fff;
  opacity: 1;
  -ms-filter: alpha(opacity=100);
  filter: alpha(opacity=100);
}
.alert-flash * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
}
.alert-flash .close {
  position: relative;
  right: -0.3em;
  top: -0.3em;
  float: right;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  -webkit-text-shadow: 0 1px 0 #fff;
  text-shadow: 0 1px 0 #fff;
  opacity: .8;
  -ms-filter: alpha(opacity=80);
  filter: alpha(opacity=80);
  outline: none !important;
}
.alert-flash.alert-danger {
  background: #bd362f url("../images/alert-danger.png") no-repeat 15px center !important;
}
.alert-flash.alert-success {
  background: #51a351 url("../images/alert-success.png") no-repeat 15px center !important;
}
.alert-flash.alert-info {
  background: #2f96b4 url("../images/alert-info.png") no-repeat 15px center !important;
}
.alert-flash.alert-warning {
  background: #f89406 url("../images/alert-warning.png") no-repeat 15px center !important;
}
.modal-footer-left-align {
  text-align: left;
}
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
table > thead > tr > th {
  text-align: center;
}
.warningAddSchedule {
  background-color: #93D6F8;
}
.no-warningAddSchedule {
  background-color: #FFFFFF;
}
/* rating star go here */

.my-custom-stars .button .material-icons {
  font-size: 10px;
}
/* NOTE: The styles were added inline because Prefixfree needs access to your styles and they must be inlined if they are on local disk! */

* {
  box-sizing: border-box;
}
.search {
  width: 100px;
  height: 100px;
  margin: 40px auto 0;
  background-color: #242628;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease;
}
.search:before {
  content: '';
  display: block;
  width: 3px;
  height: 100%;
  position: relative;
  background-color: #4ba2dc;
  transition: all 0.5s ease;
}
.search.open {
  width: 50%;
}
.search.open:before {
  height: 60px;
  margin: 20px 0 20px 30px;
  position: absolute;
}
.search-box {
  width: 100%;
  height: 100%;
  box-shadow: none;
  border: none;
  background: transparent;
  color: #fff;
  padding: 20px 100px 20px 45px;
  font-size: 20px;
}
.search-box:focus {
  outline: none;
}
.search-button {
  width: 100px;
  height: 100px;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  padding: 20px;
  cursor: pointer;
}
.search-icon {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  border: 3px solid #4ba2dc;
  display: block;
  position: relative;
  margin-left: 5px;
  transition: all 0.5s ease;
}
.search-icon:before {
  content: '';
  width: 3px;
  height: 15px;
  position: absolute;
  right: -2px;
  top: 30px;
  display: block;
  background-color: #4ba2dc;
  transform: rotate(-45deg);
  transition: all 0.5s ease;
}
.search-icon:after {
  content: '';
  width: 3px;
  height: 15px;
  position: absolute;
  right: -12px;
  top: 40px;
  display: block;
  background-color: #4ba2dc;
  transform: rotate(-45deg);
  transition: all 0.5s ease;
}
.open .search-icon {
  margin: 0;
  width: 60px;
  height: 60px;
  border-radius: 60px;
}
.open .search-icon:before {
  transform: rotate(52deg);
  right: 22px;
  top: 23px;
  height: 18px;
}
.open .search-icon:after {
  transform: rotate(-230deg);
  right: 22px;
  top: 13px;
  height: 18px;
}