<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>

<head>
	<title>Hydroponic</title>
</head>

<body>
	<nav id="topnav" class="navbar navbar-fixed-top navbar-default" role="navigation">
	<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#top-section">BK Hydroponics</a>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse navbar-ex1-collapse">
			<ul class="nav navbar-nav navbar-right">
				<li><a ui-sref="home">Home</a></li>
				<li><a ui-sref="system">Systems</a></li>
				<li><a ui-sref="article">Acticle</a></li>
				<li><a href="http://138.68.74.17:4567">Forum</a></li>
				<li><a ui-sref="about">About</a></li>
				<li ng-show="userLogin" class="dropdown active">
					<a class="dropdown-toggle" data-toggle="dropdown" href=""><i class="fa fa-user-circle"></i>&nbsp; {{userLogin}} &nbsp;
					<span class="caret"></span></a>
					<ul class="dropdown-menu" ng-controller="LoginCtrl">
						<li><a ui-sref="profile">Profile</a></li>
						<li ng-controller="LoginCtrl" ng-if="userRole === 'admin'"><a ui-sref="admin">Administration dashboard</a></li>
						<li ng-controller="LoginCtrl" ng-if="userRole === 'mod'" ><a ui-sref="mod" >Moderator dashboard</a></li>
						<li><a ui-sref="change_password">Change your password</a></li>
						<li><a href="" ng-click="logout()">Log out</a></li>
					</ul>
					<li><a ui-sref="search"><i class="fa fa-search"></i></a></li>
				</li>
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</div>
	</nav>


	<section id="Section-1" class="fullbg">
	<div class="section-divider">
	</div>
	<div class="container">
	  <div class="row">
	  	<div class="page-header text-center col-sm-12 col-lg-12 color-white animated fadeInDown">
	  		<h1>All data from device</h1>
	  		<p class="lead">
	  			Device: <b>{{devicemac}}</b>
	  		</p>
				<p class="lead">
	  			Crop: <b>{{cropid}}</b>
	  		</p>
	  	</div>
	  </div>
	</div>
	<div class="container" style="width:90%;">
		<div class="card">
			<ul class="nav nav-tabs">
		    <li class="active"><a data-toggle="tab" href="#temperature">Temperature</a></li>
		    <li><a data-toggle="tab" href="#humidity">Humidity</a></li>
		    <li><a data-toggle="tab" href="#ppm">PPM</a></li>
		    <li><a data-toggle="tab" href="#ph">PH</a></li>
		  </ul>
			<div class="tab-content">
				<div id="temperature" class="tab-pane fade in active">
					<h3>Temperature (&deg;C)</h3>
					<canvas id="lineTemperature" class="chart chart-line" chart-data="dataTemperature"
					chart-labels="labels" chart-series="seriesTemperature" chart-options="options"
					chart-dataset-override="datasetOverride" chart-click="onClick">
					</canvas>
				</div>
				<div id="humidity" class="tab-pane fade">
					<h3>Humidity (%)</h3>
					<canvas id="lineHumidity" class="chart chart-line" chart-data="dataHumidity"
					chart-labels="labels" chart-series="seriesHumidity" chart-options="options"
					chart-dataset-override="datasetOverride" chart-click="onClick">
					</canvas>
				</div>
				<div id="ppm" class="tab-pane fade">
					<h3>PPM</h3>
					<canvas id="line" class="chart chart-line" chart-data="dataPPM"
					chart-labels="labels" chart-series="seriesPPM" chart-options="options"
					chart-dataset-override="datasetOverride" chart-click="onClick">
					</canvas>
				</div>
				<div id="ph" class="tab-pane fade">
					<h3>PH</h3>
					<canvas id="line" class="chart chart-line" chart-data="dataPH"
					chart-labels="labels" chart-series="seriesPH" chart-options="options"
					chart-dataset-override="datasetOverride" chart-click="onClick">
					</canvas>
				</div>
				<div class="">

				</div>
			</div>
		</div>
	  <div class="card">
			<h3 class="card-title">All data</h3>
	  	<div class="animated fadeInUp">
	  	  <div class="table-list-device-content">
	  	    <table ng-if="data" class="table-list-device" cellpadding="0" cellspacing="0" border="0" ui-jq="dataTable" ui-options="dataTableOpt">
	          <thead class="table-list-device-header">
	  	        <tr>
	  	          <th>Time Stamp</th>
	  	          <th>Temperature</th>
	  	          <th>Humidity</th>
	  	          <th>ppm</th>
	  	          <th>pH</th>
	  	          <th>Status</th>
	  	        </tr>
	  	      </thead>
	          <tbody>
							<tr ng-repeat="item in data">
								<td>{{item.createdAt | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
								<td ng-attr-style="{{item.badStatus.temp && 'color: #FFA7A7' || 'color: #6BFF9F;'}}">{{item.temperature}}</td>
								<td ng-attr-style="{{item.badStatus.humidity && 'color: #FFA7A7' || 'color: #6BFF9F;'}}">{{item.humidity}}</td>
								<td ng-attr-style="{{item.badStatus.ppm && 'color: #FFA7A7' || 'color: #6BFF9F;'}}">{{item.ppm}}</td>
								<td ng-attr-style="{{item.badStatus.ph && 'color: #FFA7A7' || 'color: #6BFF9F;'}}">{{item.ph}}</td>
								<td>
									<i ng-if="!item.status" class="fa fa-check-square" style="color: #6BFF9F;"></i>
									<i ng-if="item.status" class="fa fa-exclamation-triangle" style="color: #FFA7A7;"></i>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<button type="button" ui-sref="crop_detail({devicemac: devicemac, cropid: cropid})" class="button-add-new-device animated fadeInLeftBig"><i class="fa fa-arrow-left"></i>&nbsp; Crop Detail</button>
</section>
</body>
</html>
