<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1>THIS IS ARICLE MANAGE PAGE</h1>
        <table class="table table-bordered">
            <thead>
              <tr>
                <th>Index</th>
                <th>Title</th>
                <th>Checked</th>
                <th>Delete</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="article in articleList">
                <td>{{$index + 1}}</td>
                <td><a ui-sref="single_article({id: article.id})">{{article.title}}</a></td>
                <td>{{article.checked}}</td>
                <td><button ng-click="deleteArticle(article.id, $index)" class="btn btn-danger">Delete</button></td>
              </tr>
            </tbody>
          </table>
    </div>
</body>
</html>