  <nav id="topnav" class="navbar navbar-fixed-top navbar-default" role="navigation">
  <div class="container">
  	<!-- Brand and toggle get grouped for better mobile display -->
  	<div class="navbar-header">
  		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
  		<span class="sr-only">Toggle navigation</span>
  		<span class="icon-bar"></span>
  		<span class="icon-bar"></span>
  		<span class="icon-bar"></span>
  		</button>
  		<a class="navbar-brand" href="#top-section">BK Hydroponics</a>
  	</div>
  	<!-- Collect the nav links, forms, and other content for toggling -->
  	<div class="collapse navbar-collapse navbar-ex1-collapse">
  		<ul class="nav navbar-nav navbar-right">
        <li><a ui-sref="home">Home</a></li>
        <li><a ui-sref="system">Systems</a></li>
        <li><a ui-sref="article">Acticle</a></li>
        <li><a href="http://35.198.199.4:4567">Forum</a></li>
        <li><a ui-sref="about">About</a></li>
        <li class="dropdown active">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-user-circle"></i>&nbsp; {{userLogin}} &nbsp;
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a ui-sref="profile">Profile</a></li>
            <li><a ui-sref="change_password">Change your password</a></li>
            <li><a ng-click="logout()" href="">Log out</a></li>
          </ul>
        </li>
        <li><a ui-sref="search"><i class="fa fa-search"></i></a></li>
  		</ul>
  	</div>
  	<!-- /.navbar-collapse -->
  </div>
  </nav>

  <!--  SECTION-1 -->
  <section id="Section-4" class="fullbg">
  <div class="section-divider">
  </div>
    <div class="form-container form animated fadeInDown">

          <div id="signup">
            <h1>Edit your profile</h1>

            <!--<form action="/" method="post">

            <div class="top-row">
              <div class="field-wrap">
                <label>
                  First Name<span class="req">*</span>
                </label>
                <input type="text" required autocomplete="off" />
              </div>

              <div class="field-wrap">
                <label>
                  Last Name<span class="req">*</span>
                </label>
                <input type="text"required autocomplete="off"/>
              </div>
            </div>-->
            <div class="field-wrap">
              <label>
                Your name<span class="req">*</span>
              </label>

            <input id="username" ng-model="userUpdate.name" type="text"required autocomplete="off"/>
            </div>

            <div class="field-wrap">
              <label>
                Phone number<span class="req">*</span>
              </label>
              <input id="phonenumber" ng-model="userUpdate.phone" type="text" required autocomplete="off"/>
            </div>
            <div class="field-button">
            	<button type="button" ng-click="update()" class="button-sign button-block">Change</button>
            </div>
            <!--</form>-->

          </div>


  </div> <!-- /form -->
  </section>
<script src='/js/libs/login-page.js'></script>
